.content {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 50px;
  overflow: hidden;
  overflow-y: auto;
  gap: 10px;
  max-width: 100%;
}

.main {
  max-width: 100%;
  min-width: 0;

  .category-list {
    margin: 0.5rem 0 0;
    padding: 0.5rem 1rem;
    list-style-type: none;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    display: grid;
    gap: 1rem;
    overflow-x: auto;

    .category-list-item {
      display: flex;
      padding: 0 10px;
      height: 30px;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 16px;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      border: 1px solid #808080;
      color: black;

      &:nth-child(1),
      &:hover {
        background: #cccccc;
      }
    }
  }

  .videos {
    width: 100%;
    display: grid;
    padding: 0.8rem;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    gap: 0.5rem;
    box-sizing: border-box;

    @media screen and (min-width: $breakpoint_md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $breakpoint_xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    .video {
      position: relative;
      border-radius: 5px;
      padding: 0.2rem;

      &:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      }

      .video-preview {
        position: relative;
        z-index: 8;

        &:hover {
          cursor: pointer;

          &::before {
            position: absolute;
            @include flex-center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
            content: "▶";
            color: #fff;
            font-size: 2rem;
            background: transparentize(#000, 0.2);
            animation: fadein 0.4s;
          }
        }

        img {
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        .live-mark,
        .stats {
          position: absolute;
          border-radius: 4px;
          padding: 2px;
          width: fit-content;
          height: fit-content;
          z-index: 2;
          color: #fff;
        }

        .live-mark {
          top: 4px;
          left: 4px;
          font-size: 0.8rem;
          text-transform: uppercase;
          background: red;
        }

        .stats {
          bottom: 8px;
          right: 4px;
          font-size: 0.7rem;
          background: transparentize(#000, 0.2);
        }
      }

      .video-info {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.5rem;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50px;
        }

        .title {
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          gap: 2px;

          .chanel-title {
            font-size: 0.8rem;
          }

          .video-title,
          .chanel-title {
            z-index: 30;
            cursor: pointer;

            &:hover {
              color: $color-secondary-2-4;
            }
          }
        }

        button {
          color: black;
          border: none;
          background: transparent;
          cursor: pointer;
          z-index: 6;
        }

        a {
          display: block;
          text-decoration: none;
          color: black;
          display: block;
          z-index: 5;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
          }
        }
      }
    }
  }
}

.footer {
  @include flex-center;
  background: $color-primary-2;
  box-shadow: 0px -3px 8px 0px lighten(#000, 50);
  z-index: 25;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
