.header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0px 3px 8px 0px lighten(#000, 50);
  background: $color-secondary-2-4;
  z-index: 20;

  .logo {
    text-decoration: none;
    color: $color-primary;
    font-size: 25px;
    flex-shrink: 0;

    h1 {
      display: inline;
      font-size: 25px;
    }
  }
}

.search-bar {
  max-width: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 30px;

  .search-line {
    position: relative;
    display: flex;
    align-items: center;

    .search-input {
      padding: 5px;
      height: 30px;
      width: 100%;
      border-radius: 5px 0 0 5px;
      border: 1px solid $color-secondary-2-3;
      background: $color-primary-1;

      &:focus-visible {
        outline: solid $color-secondary-2-3 1px;
        outline-offset: -2px;
      }

      &:hover {
        transition: all 0.2s;
        background: darken($color-primary-1, 1);
      }
    }

    .search-button {
      height: 28px;
      text-align: center;
      color: $color-primary-1;
      font-size: 16px;
      border-radius: 0 5px 5px 0;
      border: 1px solid $color-secondary-2-3;
      background: $color-secondary-2-3;
      cursor: pointer;

      &:focus-visible {
        outline: solid $color-secondary-2-3 1px;
      }

      &:hover {
        transition: all 0.2s;
        background: darken($color-secondary-2-3, 5);
      }
    }
  }

  .voice-search-button {
    margin-left: 5px;
    font-size: 18px;
    color: lighten(#000, 50);
    border: none;
    background: transparent;
    cursor: pointer;

    &:focus-visible {
      outline: solid $color-secondary-2-3 1px;
    }

    &:hover {
      transition: all 0.2s;
      color: #000;
    }
  }
}

.toolbar {
  display: flex;
  flex-wrap: nowrap;

  button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .button-bell {
    color: lighten(#000, 50);

    &:hover {
      background: $color-secondary-1-0;
      color: $color-primary-4;
    }
  }

  .dropdown-menu {
    position: relative;
    display: inline-block;

    .button-menu {
      color: #000;
    }

    &:hover {
      .dropdown-content {
        display: block;
      }
      .button-menu {
        background: $color-secondary-1-0;
        color: $color-primary;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      right: 0;
      margin: 0;
      padding: 0;
      background-color: $color-primary-1;
      box-shadow: 0px 8px 16px 0px lighten(#000, 50);
      z-index: 10;
      list-style-type: none;
      overflow: hidden;
      border-radius: 10px 0 10px 10px;

      li {
        display: block;
        padding: 0.5rem;
        position: relative;

        &:hover {
          background: $color-secondary-2-3;
        }

        a {
          display: block;
          text-decoration: none;
          color: black;
          display: block;
          z-index: 1;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
          }
        }
      }

      hr {
        margin: 0.2rem -10px;
      }
    }
  }
}
