.sidebar {
  display: grid;
  grid-template-rows: 1fr min-content;
  background: $color-primary-2;
  box-shadow: 3px 0px 8px 0px lighten(#000, 50);
  z-index: 20;

  .chanel-list {
    margin: 0;
    padding: 0.5rem 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }

  .chanel-list-item {
    padding: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (min-width: $breakpoint_xl) {
      gap: 0.5rem;
    }

    &:hover {
      background: $color-secondary-2-3;
    }

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    a {
      display: block;
      z-index: 1;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
      }
    }
  }

  .chanel-info {
    display: none;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    flex-grow: 1;

    @media screen and (min-width: $breakpoint_xl) {
      display: grid;
    }

    .chanel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .social-info {
    display: none;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem 1rem;
    border-radius: 3px;
    background: $color-primary-3;

    @media screen and (min-width: $breakpoint_xl) {
      display: grid;
    }

    .call-to-action {
      text-align: center;

      &::selection {
        color: white;
        background: rgb(250, 171, 0);
      }
    }

    .social-links {
      display: flex;
      justify-content: space-evenly;

      a {
        color: black;
        font-size: 1.5rem;

        &:hover {
          color: $color-secondary-2-4;
        }
      }
    }
  }
}
