.live-mark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;

  & > div {
    position: absolute;
    border-radius: 50%;

    &:nth-child(1) {
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      background-color: #FF0065;
    }

    &:nth-child(2) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 7px solid #FF0065;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
