$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1400px;

$color-primary: #f6546a;

$color-primary-0: #ffdec6; // Main Primary color */
$color-primary-1: #fffcfa;
$color-primary-2: #ffefe2;
$color-primary-3: #ffcda8;
$color-primary-4: #ffbc8a;

$color-secondary-1-0: #c2facc; // Main Secondary color (1) */
$color-secondary-1-1: #fafffb;
$color-secondary-1-2: #e1fde6;
$color-secondary-1-3: #a2f6b1;
$color-secondary-1-4: #83f297;

$color-secondary-2-0: #c4ddf8; // Main Secondary color (2) */
$color-secondary-2-1: #fbfdff;
$color-secondary-2-2: #e2effc;
$color-secondary-2-3: #a6caf2;
$color-secondary-2-4: #89b8ec;
