body {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  grid-template-columns: calc(30px + 1rem) 1fr;
  grid-template-rows: calc(30px + 1rem) 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";

  @media screen and (min-width: $breakpoint_xl) {
    grid-template-columns: 240px 1fr;
  }
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
